nav.navbar.navbar-expand-lg.navbar-light
  a.navbar-brand(href='/') Aneo
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbar.collapse.navbar-collapse
    .navbar-nav
      a.nav-link(href='/commands')
      i.fas.fa-terminal
      span.pl-2 Commands
    .navbar-nav.ml-auto
    a.nav-link(href='/login') 
    i.fas.fa-sign-in-alt.pl-2
    span.pl-1 Login
